### Laravel ###
.env

### Composer ###
/vendor
composer.phar
composer.lock
/vendor

### Node ###
/node_modules
logs
*.log
npm-debug.log*
*.pid
*.seed
.grunt
.npm
.node_repl_history

### Bower ###
bower_components
.bower-cache
.bower-registry
.bower-tmp

### Linux ###
*~
.fuse_hidden*
.directory
.Trash-*

### PHPStorm ###
*.iml
.idea/
*.ipr
*.iws